@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@font-face {
	font-family: 'ChomskyRegular';
	src: url('Chomsky.otf');
	src:
		local('ChomskyRegular'),
		local('ChomskyRegular'),
		url('Chomsky.otf')
		format('opentype') }

/* Index H1 Title */
h1{
    text-align: center;
    font-family: 'ChomskyRegular';
    position: relative;
    font-size: 40px;
    color: white;
    overflow: auto;
    display: -moz-inline-box;
}

/*Index H2 Title*/
h2{
  font-family: "Teko";
  text-transform: lowercase;
  font-size: 30px;
  color: white;
  display: -moz-inline-box;
  padding: 20px;
  overflow: auto;
  text-align: center;
  text-decoration-line: underline;
}

h3{
  font-family: "Teko";
  margin:  6px;
  text-transform: lowercase;
  font-size: 25px;
  color: white;
  text-align: center;
}

p.caption{
  font-family: "Teko";
  text-transform: lowercase;
  font-size: 20px;
  color: white;
  text-align: center;
  /*margin: 0 auto;*/
}
/*Paragraph Text*/
p {
  font-family: "Teko";
  font-size: 20px;
  letter-spacing: 3px;
  color: white;
  margin: 10px;
  text-align: center;
}

body{
    background-color: black;
    /*position: relative;*/
    /*height: auto;*/
    /*min-height: 100% !important;*/
}



/*Navbar Stuff*/
.navbar-default {
    height: 70px;
    display: -moz-inline-block;
    background-color: white;
    color: black;
    overflow: hidden;
}

.navbar-item {
  float: left;
  padding: 20px;
  background-color: white;
  text-transform: lowercase;
  font-weight: bold;
  font-family: "Teko";
  font-size: 30px;
  letter-spacing: 4px;
  text-decoration: none;
  color: black;
}

.navbar-item-right {
  padding: 20px;
  background-color: white;
  text-transform: lowercase;
  font-weight: bold;
  font-family: "Teko";
  font-size: 30px;
  letter-spacing: 4px;
  text-decoration: none;
  color: black;
  float: right;
}

.navbar-item-home {
  padding: 10px;
  font-family: "ChomskyRegular", serif;
  background-color: white;
  font-size: 40px;
  letter-spacing: 4px;
  text-decoration: none;
  color: black;
  float: left;
}

.navbar-item:hover {
  background: white;
  color: black;
  border: 10px solid black;
  border-right-color: dimgray;
  border-left-color: dimgray;
}

.navbar-item-right:hover {
  background: white;
  color: black;
  border: 10px solid black;
  border-left-color: dimgray;
  border-right-color: dimgray;
}

.div.bar{
  background-color: black;
  width: 100%;
  height:100px;
  /*position: absolute;*/
}
/* shop stuff */
.shop_wrapper{
  background-color: white;
  color: white;
  display: grid;
  row-gap: 40px;
  column-gap: 40px;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  /*align-self: center;*/
  /*overflow: -moz-scrollbars-vertical;*/
  overflow: auto;
  height: auto;
  width: 80%;
}

div.shop_div {
  margin: 0 auto;
  height: auto;
  width: 100%;
}

div.img_shop_div {
  text-align: center;
  margin: 0 auto;
  height: 70%;
  width: auto;
}

div.img_shop img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

div.shop-desc {
  /*margin: 0 auto;*/
  /*display: */
  /*padding-top: 20px;*/
  width: 100%;
  font-family: "Teko";
  color: white;
  background-color: black;
  overflow-wrap: break-word;
  text-align: center;
}

.shop_div:hover {
    /*background-color: lightgrey;*/

  border: 10px solid lightgrey;
  border-left-color: dimgray;
  border-right-color: dimgray;

}

/*Gallery stuff*/

.gallery_wrapper{
  background-color: white;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: auto;
  /*padding: 1%;*/
  height: 50%;
  width: 100%;
}

div.gallery {
  text-align: center;
  padding: 10px;
  height: 70%;
  width: auto;
}

div.gal_item{
  display: inline-block;
  /*background-color: lightgrey;*/
  margin: 0 auto;
  border: 5px;
  /*border-style: inset;*/
  /*padding-top: 30px;*/
  height: auto;
  width: 20%;
  position: relative;
}

div.gal_item:hover {
  border: 20px solid black;
  border-right-color: dimgray;
  border-left-color: dimgray;
}

div.gallery img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

div.desc {
  /*margin: 0 auto;*/
  /*display: */
  /*padding-top: 20px;*/
  font-family: "Teko";
  color: black;
  overflow-wrap: break-word;
  text-align: center;
}


/*Splash Screen Shit!!!
  Don't touch me!
  :~) */

.text {
  opacity: 0;
  position: absolute;
  z-index: 7;
  text-align: left;
  margin: -50px 0 0 -150px;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  font-size: 48px;
  font-weight: 700;
  -webkit-animation: on .6s ease-in-out 3.7s forwards;
  -moz-animation: on .6s ease-in-out 3.7s forwards;
  -o-animation: on .6s ease-in-out 3.7s forwards;
  animation: on .6s ease-in-out 3.7s forwards;
}
.text h1{
    color: white;
    text-align: center;
    font-size: 100px;
    padding: 100px 0;
  width: 100%;
  -webkit-animation: type .3s steps(60, end) 3.7s;
  -moz-animation: type .3s steps(60, end) 3.7s;
  -o-animation: type .3s steps(60, end) 3.7s;
  animation: type .3s steps(60, end) 3.7s;
}

.text button{
  background: white;
  color: black;
  border: 1px solid white;
  letter-spacing: 2px;
    padding: 10% 0;
  width: 100%;
  text-align: center;
  height: 100%;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Teko';
  cursor: pointer;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -ms-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  -webkit-animation: on .6s ease-in-out 4s forwards;
  -moz-animation: on .6s ease-in-out 4s forwards;
  -o-animation: on .6s ease-in-out 4s forwards;
  animation: on .6s ease-in-out 4s forwards;
}
.text button:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

.splash {
  width: 100%;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.splash_header {
  position: fixed;
    padding: 20% 0;
  width: 100%;
  text-align: center;
  height: 100%;
    margin: auto;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  opacity: 1;
    z-index: 5;
  will-change: opacity;
  -webkit-animation: h1 .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
  -moz-animation: h1 .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
  -o-animation: h1 .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
  animation: h1 .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
}

.splash_svg {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
.splash_svg svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.splash_svg svg rect {
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    -webkit-animation: expand .7s ease-in forwards 2.7s;
    -moz-animation: expand .7s ease-in forwards 2.7s;
    -o-animation: expand .7s ease-in forwards 2.7s;
    animation: expand .7s ease-in forwards 2.7s;
}
.splash_minimize {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.splash_minimize svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.splash_minimize svg rect {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  -webkit-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  -moz-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  -o-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
}

@-webkit-keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}
@-moz-keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}
@-o-keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}
@keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}
@-webkit-keyframes hide {
  100% {
    fill: transparent;
  }
}
@-moz-keyframes hide {
  100% {
    fill: transparent;
  }
}
@-o-keyframes hide {
  100% {
    fill: transparent;
  }
}
@keyframes hide {
  100% {
    fill: transparent;
  }
}
@-webkit-keyframes off {
  100% {
    opacity: 0;
  }
}
@-moz-keyframes off {
  100% {
    opacity: 0;
  }
}
@-o-keyframes off {
  100% {
    opacity: 0;
  }
}
@keyframes off {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes on {
  100% {
    opacity: 1;
  }
}
@-moz-keyframes on {
  100% {
    opacity: 1;
  }
}
@-o-keyframes on {
  100% {
    opacity: 1;
  }
}
@keyframes on {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes logo {
  100% {
    color: #292929;
  }
}
@-moz-keyframes logo {
  100% {
    color: #292929;
  }
}
@-o-keyframes logo {
  100% {
    color: #292929;
  }
}
@keyframes logo {
  100% {
    color: #292929;
  }
}
@-webkit-keyframes type {
  0% {
    width: 0;
  }
}
@-moz-keyframes type {
  0% {
    width: 0;
  }
}
@-o-keyframes type {
  0% {
    width: 0;
  }
}
@keyframes type {
  0% {
    width: 0;
  }
}
@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: white;
  }
}
@-moz-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: white;
  }
}
@-o-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: white;
  }
}

@keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: white;
  }
}
