{% extends "base.html" %}

{% block content %}
    <body>
    <div>
        <h2>About the Lost Bond Project</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet consectetur adipiscing elit. Placerat orci nulla pellentesque dignissim enim sit amet venenatis. Tristique risus nec feugiat in fermentum posuere. Mi bibendum neque egestas congue quisque egestas. Purus in massa tempor nec feugiat. Et tortor at risus viverra. Lacus vel facilisis volutpat est velit. A cras semper auctor neque vitae tempus quam. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Enim praesent elementum facilisis leo vel fringilla est. Id donec ultrices tincidunt arcu non sodales neque. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. Feugiat nibh sed pulvinar proin. Suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Nunc consequat interdum varius sit. Venenatis lectus magna fringilla urna porttitor.</p>
    </div>
    </body>
{% endblock %}