<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lost Bond Project</title>
    <link rel="stylesheet" href="../static/Stylesheet.css" />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon_icons/favicon.ico"/>
</head>

        <nav>
            <div class="navbar-default">
                    <a href={{ url_for("index") }} class="navbar-item-home">
                       Lost Bond
                    </a>
                    <a class="navbar-item">
                        Shop
                    </a>
                    <a class="navbar-item">
                        Gallery
                    </a>
                    <a class="navbar-item-right">
                        Contact Us
                    </a>
                    <a href={{ url_for("about") }} class="navbar-item-right">
                        About
                    </a>
            </div>
        </nav>
        <div class="section has-text-centered">
            {% block content %}
            {% endblock %}
        </div>


</html>