{% extends "base.html" %}

<link rel="icon" type="image/icon" href="/static/assets/img/favicon_icons/favicon.ico"/>

{% block content %}
    <body class="home">
        <div class="main">
            <div class="home-bar">
{#                His feet hurt; he stepped and stopped and dragged and stopped,<br>#}
{#                young boy sat down, <br>#}
{#                hands buried within each other and looked up. <br>#}
{#                Mouth firm, indignant as children sometimes get,<br>#}
{#                eyes betraying him, as children can't help. <br>#}
{#                Scrawny boy, weathered pressed<br>#}
{#                his manner tended inwards, wrapped around a point half a metre from his chest,<br>#}
{#                        "How much longer?"<br>#}
                <div style="display: inline-block; text-align: center; justify-content: center">
                    <p class="caption" style="font-size: 20px">
                    Our story on youth mental health, expressed through the arts.<br>
                    What's yours?
                    </p>
                    <iframe width="740" height="350"
                            src="https://www.youtube.com/embed/yysGj38sSL4?autoplay=1&mute=1&loop=1&modestbranding=1&start=1&cc_load_policy=1&color=white">
                    </iframe>
                    <label class="video-dropdown">
                        <div class="video-menu-button">
                        about this video
                        </div>
                        <input type="checkbox" class="dd-input" id="test">
                        <ul class="video-menu">
                            <li class="more-info">
                                The Lost Bond Project presents our debut short film “LOST BOND” (written and directed by Harry Boulton, Gabriel Goss and Jude Wakeley).
                            <br>
                                The story is built upon the inherit complexity of human nature and our ability to feel multiple, competing and contradictory emotions, all conveyed through the presence and actions of the ‘Silent Killer’, a character who personifies the dark shadows of a disturbed mind. All in a bid to raise awareness around the topic of youth mental health.
                            <br>
                                We urge you to support our Go Fund Me campaign which aims to raise funds and awareness for the UK’s leading charity fighting for children and young people’s mental health, Young Minds UK.
                            </li>
                        </ul>
                    </label>
                    <br>
                    <div class="home-gallery_wrapper">
                        {% with img_info = get_image_set() %}
                         {% for i in range(3) %}
                        <div class="gal_item">
                              <a class="gal_item" href={{ url_for('static', filename=img_info[i]['path']) }}>
                                <img src={{ url_for('static', filename=img_info[i]['path']) }} alt={{ img_info[i]['name'] }} class="home-gal-item">
                              </a>
                         </div>
                         {% endfor %}
                            <a class="more-pics" href={{ url_for('gallery.gallery') }}>More -></a>
                        {% endwith %}
                    </div>
                    <iframe style="border-radius:12px; padding: 20px"
                        src="https://open.spotify.com/embed/episode/3qvUFXldA1LQLG8uJf8gGc?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
                    </iframe>
                </div>
            </div>
        </div>
    </body>
{% endblock %}