{% extends "base.html" %}

<link rel="icon" type="image/icon" href="/static/assets/img/favicon_icons/favicon.ico"/>

{% block content %}
    <body class="home">
        <div class="main">
            <div class="home-bar">
                <p class="caption">
                    Our story on youth mental health, expressed through the arts.<br>
                    What's yours?
                </p>
{#                His feet hurt; he stepped and stopped and dragged and stopped,<br>#}
{#                young boy sat down, <br>#}
{#                hands buried within each other and looked up. <br>#}
{#                Mouth firm, indignant as children sometimes get,<br>#}
{#                eyes betraying him, as children can't help. <br>#}
{#                Scrawny boy, weathered pressed<br>#}
{#                his manner tended inwards, wrapped around a point half a metre from his chest,<br>#}
{#                        "How much longer?"<br>#}
            </div>
            <iframe width="740" height="350"
                    src="https://www.youtube.com/embed/yysGj38sSL4?autoplay=1&mute=1&loop=1&modestbranding=1&start=1&cc_load_policy=1&color=white">
            </iframe>
        </div>
    </body>
{% endblock %}