{% extends "base.html" %}

{% block content %}
    <div class="block">
     <h2 class="subtitle">
          Lost Bond is our story on youth mental health expressed through the arts.
     </h2>
    </div>
    <div class="tile is-3 is-warning is-parent">
        <article class="tile is-child notification is-dark">
            <figure class="image is-128x128">
                <img src="../static/img/brain_tee.png" alt="brain tee">
            </figure>
            <div class="content">
              <p>
                First ever Lost Bond T-Shirt featuring a single colour screen print in black. T-Shirts are 180gsm 100% organic ring-spun combed cotton. See photos for sizing info. 15% of profits will be going to Young Minds charity.
              </p>
                <div class="control">
                    <button class="button is-light">Submit</button>
                </div>
            </div>
        </article>
    </div>

{% endblock %}