{% extends "base.html" %}

<link rel="icon" type="image/icon" href="/static/assets/img/favicon_icons/favicon.ico"/>

{% block content %}
    <body>
    {% with p = product %}
        <h2>
            {{ p.colour+" " }}{{ p.name }}
        </h2>
        <div class="product_info">
            <img src="{{ url_for('static', filename=p.image_path)}}" width="400" height="400" class="product_info"/>
            <div class="product_desc">
                    {{ p.description }}
                <br>
                <br>
                <h3>{{ "£"+p.cost|string +"0" }}</h3>
                <br>
                <div class="sizes">
                    <label class="size-check">S
                      <input name="size" type="radio" class="size-check">
                    </label>
                    <label class="size-check">M
                      <input name="size" type="radio" class="size-check">
                    </label>
                    <label class="size-check">L
                      <input name="size" type="radio" class="size-check">
                    </label>
                    <label class="size-check">XL
                      <input name="size" type="radio" class="size-check">
                    </label>
                </div>
                <br>
                <button class="buy-button" type="button"> BUY </button>
            </div>

        </div>
    {% endwith %}
    </body>

{% endblock %}