{% extends "base.html" %}

{% block content %}
       <section class="shop_wrapper">
            {% with images = get_shop_images() %}
             {% for i in range(15) %}
            <div class="gal_item">
                <div class="gallery">
                  <a target="_blank" href={{ url_for('static', filename=images[i]['path']) }}>
                    <img src={{ url_for('static', filename=images[i]['path']) }} alt="LostBondImage" width="600" height="400">
                  </a>
                </div>
                <div class="desc">{{ images[i]['name'] }}</div>
            </div>
            {% endfor %}
            {% endwith %}
        </section>
{% endblock %}
